<h2>Cadastrar Comidas </h2>
<form action="/" method="post">
    <div class="mb-3">
        <label class="form-label">Decrição </label>
        <input class="form-control" type="text" name="descricao">
    </div>
    <div class="mb-3">
        <label class="form-label">valor</label>
        <input class="form-control" type="number" name="valor">
    </div>

     <div class="mb-3">
        <label class="form-label">Tipo de lanche</label>
        <select class="form-control" name="tipoDolanche">
            <option   value="0" selected>Pizza</option>
            <option value="1">  Laches</option>
            <option value="2">Bebidas</option>
        </select>
  <br>
  
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>